.im-live-detail-left-live-ad {
    position: relative;
    width: 100%;
    height: 80px;
    background: #fff;
    margin-bottom: 16px;

    .im-live-detail-left-live-ad-img {
        width: 100%;
        height: 100%;
    }
}
