.search-author-list {
    position: relative;
    margin-top: 20px;
    margin-bottom: 50px;

    .search-author-list-title {
        font-size: 22px;
        font-weight: bold;
        color: #2a2f37;
        line-height: 30px;
        margin: 30px 0 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .search-author-list-title-num {
            font-size: 19px;
            font-weight: bold;
            color: #acaeb2;
            line-height: 26px;
            margin-left: 5px;
        }
    }

    .search-author-list-wrap {
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }
}
