@import 'src/assets/scss/normalize';
@import 'src/assets/scss/public';

@font-face {
  font-family: Outfit-Regular;
  src: url('/fonts/Outfit-Regular.otf');
}

#root {
  height: auto !important;
  font-family: Outfit-Regular, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;

  .layout-content-pc {
    flex: 1;
    min-height: 58vh;

    .pc-center {
      display: flex;
      position: relative;
      color: var(--naga-font-hundred);

      .center-right {
        width: 100%;
      }
    }
  }
}

.error-container-pc {
  color: var(--naga-font-hundred);
  font-size: 14px;
}
