.instruct {
    width: 1000px;
    background: #fff;
    margin: 50px auto;
    padding: 38px 40px;
    box-shadow: -4px 0 30px rgba(0, 0, 2, 0.1);
    min-height: 200px;

    h2 {
        font-weight: bold;
        color: #242F44;
        padding: 8px 0;
        border-bottom: 3px solid #242F44;
    }

    h5 {
        height: 3px;
        margin: 30px 0;
        background: #E8F1FF;
    }

    .instruct-con {
        margin: 20px 0;

        h3 {
            font-size: 18px;
            color: #242F44;
            margin: 20px 0;
            font-weight: bold;
        }

        .instruct-con-title {
            display: flex;
            justify-content: space-between;

            p {
                width: 368px;
                margin: 20px 0;
                line-height: 24px;
            }

            a {
                padding: 4px 8px;
                background: #242F44;
                border-radius: 13px;
                color: #fff;
                cursor: pointer;
            }

            .instruct-con-r {
                width: 135px;

                img {
                    width: 100%;
                }
            }
        }
    }
}
