.jp-product {
    width: 100%;

    .jp-active-text {
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 14px;
    }

    .feature-top {
        justify-content: space-around;
        margin-bottom: 20px;

        .feature-top-item {
            width: 328px !important;
        }
    }

    .jp-product-img {
        width: 100%;

        img {
            width: 100%;
        }
    }
}
