.m-learning-video-list {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    overflow: hidden;

    .cont-list {
        width: 100%;
        height: auto;
        margin-top: 5px;

        a {
            display: inline-block;
            width: 145px;
            height: 135px;
            margin-right: 20px;

            &:nth-child(4n) {
                margin-right: 0;
            }

            img {
                width: 145px;
                height: 82px;
            }

            p {
                font-size: 14px;
                color: #222;
            }

            &:hover {
                p {
                    color: #1482f1;
                }
            }
        }

        .more {
            width: 90px;
            font-size: 15px;
            color: #999;
            line-height: 40px;
            text-align: center;
            margin: 0 auto;
            cursor: pointer;
            background: url("../imgs/more.png") center right no-repeat;

            &:hover {
                color: #1482f1;
            }
        }
    }
}
