.filtrate {
    padding: 12px 15px;
    color: #fff;
    position: relative;

    h2 {
        font-weight: 500;
        line-height: 26px;
        text-align: center;
        font-size: 17px;
    }

    .close-filter {
        position: absolute;
        top: 12px;
        right: 15px;

        img {
            width: 16px;
            height: 16px;
        }
    }
}
