.simditor-body {
    padding: 22px 0 0;
    min-height: 300px;
    cursor: text;
    position: relative;
    z-index: 1;
    background: transparent;
    overflow: hidden;
    font-family: arial, sans-serif;
    outline: none;
    word-wrap: break-word;
    color: #333;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.5px;

    a.selected {
        background: #b3d4fd;
    }

    a.simditor-mention {
        cursor: pointer;
    }

    .simditor-table {
        position: relative;

        &.resizing {
            cursor: col-resize;
        }

        .simditor-resize-handle {
            position: absolute;
            left: 0;
            top: 0;
            width: 10px;
            height: 100%;
            cursor: col-resize;
        }
    }

    & > :first-child {
        margin-top: 0 !important;
    }

    a {
        color: #4298ba;
        text-decoration: none;
        word-break: break-all;
    }
    a:visited { color: #4298ba; }
    a:hover { color: #0f769f; }
    a:active { color: #9e792e; }

    a:hover,
    a:active { outline: 0; }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: normal;
        margin: 40px 0 20px;
        color: #000;
    }

    h1 { font-size: 24px; }

    h2 {
        font-size: 16px;
        font-weight: bold;
    }
    h3 { font-size: 20px; }
    h4 { font-size: 18px; }
    h5 { font-size: 16px; }
    h6 { font-size: 16px; }

    p,
    div {
        word-wrap: break-word;
        margin: 0 0 15px 0;
        color: #333;
    }

    b,
    strong {
        font-weight: bold;
    }

    i,
    em {
        font-style: italic;
    }

    u {
        text-decoration: underline;
    }

    strike,
    del {
        text-decoration: line-through;
    }

    ul,
    ol {
        list-style: disc outside none;
        margin: 15px 0;
        padding: 0 0 0 40px;
        line-height: 1.6;

        li {
            list-style-type: inherit;
        }

        ul,
        ol {
            padding-left: 30px;
        }

        ul {
            list-style: circle outside none;

            ul {
                list-style: square outside none;
            }
        }
    }

    ol {
        list-style: decimal;
    }

    blockquote {
        border-left: 6px solid #ddd;
        padding: 5px 0 5px 10px;
        margin: 15px 0 15px 15px;

        & > :first-child {
            margin-top: 0;
        }
    }

    code {
        display: inline-block;
        padding: 0 4px;
        margin: 0 5px;
        background: #eee;
        border-radius: 3px;
        font-size: 13px;
        font-family: 'monaco', 'Consolas', "Liberation Mono", Courier, monospace;
        word-break: break-all;
        word-wrap: break-word;
    }

    pre {
        padding: 10px 5px 10px 10px;
        margin: 15px 0;
        display: block;
        line-height: 18px;
        background: #f0f0f0;
        border-radius: 3px;
        font-size: 13px;
        font-family: 'monaco', 'Consolas', "Liberation Mono", Courier, monospace;
        overflow-x: auto;

        /* min-height: 28px; */
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        word-wrap: break-word !important;
        white-space: pre-wrap !important;

        code {
            display: block;
            padding: 0;
            margin: 0;
            background: none;
            border-radius: 0;
        }
    }

    hr {
        display: block;
        height: 0;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 15px 0;
        padding: 0;
    }

    table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        border-spacing: 0;
        margin: 15px 0;

        thead {
            background-color: #f9f9f9;
        }

        td,
        th {
            min-width: 40px;
            height: 30px;
            border: 1px solid #ccc;
            vertical-align: top;
            padding: 2px 4px;
            text-align: left;
            box-sizing: border-box;

            &.active {
                background-color: #ffe;
            }
        }
    }

    img {
        vertical-align: middle;
        cursor: pointer;
        margin: 0 auto;
        display: block;
        height: auto;
        max-width: 90% !important;

        &.selected {
            box-shadow: 0 0 0 4px #ccc;
        }
    }

    /* 样式重置 */
    blockquote p {
        margin-bottom: 0 !important;
        padding: 22px 0;
    }

    p,
    section,
    div {
        margin-bottom: 26px;

        /* 正文文字对齐方式 */
        word-break: break-all;
        word-wrap: break-word;
        text-align: justify;
    }
}
