@font-face {
  font-family: Jost-Bold;
  src: url('/fonts/Jost-Bold.ttf');
}

.game-score {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  font-family: Jost-Bold, sans-serif;
  border-radius: 3px;
  background-size: 100% 100%;

  &.banner-sort {
    bottom: auto;
    top: -20px;
    width: 72px;
    height: 72px;
  }

  &.detail-sore {
    bottom: 15px;
    right: 15px;
    width: 70px;
    height: 70px;
    font-size: 28px;
  }

  &.zero-style {
    color: var(--naga-font-score-zero);
  }
}
