.campaign-create-item-description {
    position: relative;
    width: 100%;
    height: 300px;
    background: var(--nage-main-bg);
    border-radius: 5px;
    border: 1px solid var(--naga-rank-slect-bg);

    .campaign-create-item-description-menu-bar {
        position: relative;
        width: 100%;
    }

    .ProseMirror {
        height: 100px;
        overflow-y: scroll;
    }
}
