.im-live-detail-right-live-presenter {
    position: relative;
    width: 100%;
    background: #fff;
    border: 1px solid #ececec;
    margin-bottom: 16px;
    box-sizing: border-box;

    .im-live-detail-right-live-presenter-box {
        width: 100%;
        padding: 16px;
        box-sizing: border-box;
    }
}
