.im-live-list-right-live-good-up-item {
    width: 100%;
    height: 40px;
    justify-content: space-between;

    &:hover {
        .im-live-list-right-live-good-up-item-title {
            color: #0056ff;
        }
    }

    .im-live-list-right-live-good-up-item-img {
        vertical-align: middle;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        float: left;
    }

    .im-live-list-right-live-good-up-item-right {
        width: 200px;
        height: 100%;
        display: flex;
        padding-left: 5%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .im-live-list-right-live-good-up-item-title {
            font-size: 16px;
            color: #333;
            font-weight: bold;
            line-height: 22px;
        }

        .im-live-list-right-live-good-up-item-text {
            margin-top: 2px;
            font-size: 14px;
            color: #838a91;
            line-height: 20px;
            display: -webkit-box;
            overflow: hidden;

            /*! autoprefixer: ignore next */
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
    }
}
