@import '../../../_multiappsharing/public/css/rem.scss';

.share-download-bottom {
    position: fixed;
    z-index: 999 !important;
}

.hxwrap {
    background: #f8f8f8;
    margin-top: rem(100);

    .live-share-m-content {
        min-height: 200px;

        .readyPic {
            position: relative;

            .live-share-m-ready-coverPic {
                width: 100%;
            }

            .container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: -webkit-flex;
                display: flex;
                -webkit-align-items: center;
                align-items: center;
                -webkit-justify-content: center;
                justify-content: center;

                .playerWrap {
                    background-color: #000;
                    width: 70px;
                    height: 70px;
                    border-radius: 35px;
                    opacity: 0.5;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-align-items: center;
                    align-items: center;
                    -webkit-justify-content: center;
                    justify-content: center;

                    .player {
                        width: 0;
                        height: 0;
                        border-top: 13px solid transparent;
                        border-left: 23px solid #fff;
                        border-bottom: 13px solid transparent;
                        opacity: 0.9;
                        margin-left: 8px;
                    }
                }
            }
        }
    }

    .live-share-m-brief {
        margin-top: 10px;
        padding: 12px;
        background: #fff;
        clear: both;
        font-size: 17px;

        .live-share-box-title {
            width: 3px;
            height: rem(26);
            background: #0a7ff2;
            display: inline-block;
            vertical-align: top;
            margin-right: 7px;
        }
    }

    .live-share-m-hot-box {
        margin-top: 10px;
        padding: 12px;
        background: #fff;
        clear: both;
        font-size: 17px;
        margin-bottom: 80px;

        .live-share-box-title {
            width: 3px;
            height: 16px;
            background: #0a7ff2;
            display: inline-block;
            vertical-align: top;
            margin-right: 7px;
        }
    }
}
