.page-m {
    width: 100%;

    .helpcenter {
        width: 90%;
        margin: 0 auto;
        padding: 38px 20px;
        box-shadow: none;
    }

    .helpcenter .helpcenter_con_one p {
        margin-top: 15px;
    }
}
