.stakdetail {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;

    h3 {
        font-size: 32px;
        font-weight: 500;
        width: 1200px;
        margin: 0 auto;
    }

    .stakdetail-top {
        width: 100%;
        border-top: 1px solid #eee;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        .stakdetail-top-left {
            width: 50%;
            border-right: 1px solid #eee;
            padding-top: 20px;

            ul {
                display: flex;
                justify-content: space-between;
                padding-right: 50px;

                li {
                    :nth-child(2) {
                        font-size: 14px;
                        color: #919598;
                        margin-top: 7px;
                    }

                    :nth-child(1) {
                        font-size: 28px;
                        color: #111;
                    }
                }
            }

            .stakdetail-top-left-progress {
                width: 92%;
                margin-top: 30px;
                height: 10px;
                border-radius: 5px;
                background: rgb(177, 202, 243);

                .stakdetail-top-left-progress-con {
                    width: 60%;
                    background: #3375E0;
                    height: 100%;
                    border-radius: 10px;
                }
            }

            .stakdetail-top-left-num {
                margin-top: 20px;
                display: flex;
                width: 92%;
                justify-content: space-between;

                :nth-child(1) {
                    color: #3375E0;
                }
            }
        }

        .stakdetail-top-right {
            width: 45%;
            padding-left: 50px;
            padding-top: 20px;

            .stakdetail-top-right-item {
                display: flex;
                justify-content: space-between;
                font-size: 16px;
                color: #111;
                margin-top: 15px;
            }
        }
    }
}
