.page-m {
    width: 100%;

    .bindgoogle {
        width: 80%;
        margin: 20px auto;

        .google_startbind {
            width: 100%;

            .google_startbind_fin {
                width: 100%;
                margin: 0;
            }
        }
    }
}
