.page-m {
    width: 100%;

    .bagree {
        width: 95%;
        margin: 0 auto;
        padding: 0;
        padding-bottom: 40px;
        padding-top: 20px;

        .bagree-top {
            margin-top: 50px;
            font-size: 14px;
        }
    }
}
