.lend {
    width: 100%;

    .select {
        display: flex;
        justify-content: space-between;

        .select-l {
            font-size: 14px;
            font-weight: 500;
            color: #70737F;
            line-height: 18px;
        }

        .select-r {
            display: flex;

            .r-number {
                border: 0.5px solid rgba(197, 197, 204, 0.6);
                border-radius: 4px;
                margin: 0 12px;
                display: flex;
                padding: 0 6px;
                position: relative;

                .r-number-list {
                    position: absolute;
                    top: 30px;
                    left: 0;
                    background: #fff;
                    text-align: center;
                    box-shadow: 0 4px 8px 1px rgba(37, 39, 54, 0.15);
                    border-radius: 4px;
                    width: 100%;
                    font-size: 12px;
                    display: none;
                    padding: 10px 0;

                    div {
                        padding: 10px 0;
                        cursor: pointer;
                    }

                    div:hover {
                        background: #eee;
                    }
                }

                .r-number-img {
                    width: 16px;
                    margin: 0 5px;
                    margin-top: 7px;

                    img {
                        width: 100%;
                    }
                }

                input {
                    width: 110px;
                    height: 28px;
                    background: #fff;
                    font-size: 12px;
                    border: none;
                    border-radius: 5px;
                }

                .r-number-b {
                    display: flex;
                    width: 110px;
                    height: 28px;
                    line-height: 28px;
                    justify-content: space-between;

                    .r-number-text {
                        color: #283044;
                        font-size: 12px;
                    }

                    .pointdown {
                        width: 12px;

                        img {
                            width: 100%;
                        }
                    }
                }
            }

            .r-btn {
                width: 64px;
                height: 28px;
                background: #F4881C;
                border-radius: 4px;
                text-align: center;
                line-height: 28px;
                color: #fff;
                font-size: 12px;
                cursor: pointer;
            }
        }
    }

    .lendorder {
        width: 100%;

        .css-yr0plm {
            .css-19g6jpf {
                width: 30%;
            }
        }

        .orderlist {
            margin-top: 12px;
            font-size: 12px;
            width: 100%;
            color: #283044;

            span:nth-child(1) {
                color: #8F8F95;
                margin-right: 8px;
            }

            .orderlist-top {
                display: flex;
                justify-content: space-between;
                background: #F6F6F9;
                padding: 0 12px;
                height: 36px;
                line-height: 36px;

                .top-right {
                    display: flex;

                    .right-item {
                        margin-right: 60px;
                    }

                    .right-status {
                        height: 20px;
                        background: #32966E;
                        border-radius: 4px;
                        color: #fff;
                        line-height: 20px;
                        margin-top: 8px;
                        padding: 0 20px;
                    }
                }
            }

            .orderlist-info {
                margin: 12px 0;
                display: flex;
                justify-content: space-between;

                span:nth-child(1) {
                    color: #8F8F95;
                    margin-right: 8px;
                }

                .info-left {
                    width: 40%;
                    display: flex;

                    .info-left-l {
                        width: 50%;

                        p {
                            margin: 10px 0;
                        }
                    }
                }

                .info-center {
                    width: 20%;
                    border-left: 1px solid #EBEDF0;
                    border-right: 1px solid #EBEDF0;
                    display: flex;
                    justify-content: center;

                    p {
                        margin: 10px 0;
                    }
                }

                .info-right {
                    width: 39%;
                    display: flex;
                    justify-content: space-between;

                    .info-right-l {
                        margin-left: 30px;

                        p {
                            margin: 10px 0;
                        }
                    }

                    .info-right-r {
                        color: #283044;
                        font-size: 12px;
                        font-weight: 500;
                        margin-right: 12px;

                        .info-right-adjust {
                            margin: 10px 0;
                            cursor: pointer;
                            color: #F4881C;
                        }

                        .info-right-hai {
                            margin: 10px 0;
                            cursor: pointer;
                            color: #F4881C;
                        }
                    }
                }
            }
        }
    }

    .refund {
        width: 100%;
        margin-top: 20px;

        .refund-title {
            height: 38px;
            line-height: 38px;
            background: #eee;
            color: #848e9c;
            font-size: 12px;
            display: flex;
            justify-content: space-around;

            div {
                width: 110px;
                text-align: center;
            }

            div:nth-child(1) {
                width: 170px;
            }
        }

        .refund-list {
            .refund-item {
                display: flex;
                justify-content: space-around;
                padding: 15px 0;
                border-bottom: 1px solid rgb(238, 238, 238);

                div {
                    font-size: 12px;
                    width: 110px;
                    text-align: center;
                    color: #283044;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    line-height: 15px;

                    .item-active {
                        padding: 4px 15px;
                        background: rgba(50, 150, 110, 0.15);
                        border-radius: 4px;
                        color: #32966E;
                    }
                }

                div:nth-child(1) {
                    width: 170px;
                }
            }
        }
    }

    .pledge {
        width: 100%;
        margin-top: 20px;

        .pledge-title {
            height: 38px;
            line-height: 38px;
            background: #eee;
            color: #848e9c;
            font-size: 12px;
            display: flex;
            justify-content: space-between;

            div {
                width: 110px;
                text-align: center;
            }

            div:nth-child(1) {
                width: 210px;
            }

            div:nth-child(2) {
                width: 150px;
            }
        }

        .pledge-list {
            .pledge-list-item {
                display: flex;
                justify-content: space-between;
                padding: 15px 0;
                border-bottom: 1px solid rgb(238, 238, 238);

                div {
                    font-size: 12px;
                    width: 110px;
                    text-align: center;
                    color: #283044;
                }

                div:nth-child(1) {
                    width: 210px;
                }

                div:nth-child(2) {
                    width: 150px;
                }
            }
        }
    }
}
