@import '../../../_multiappsharing/public/css/rem.scss';

.mComplaintsPage {
    padding: rem(25);
    width: rem(590);
    color: #333;
    background: #fff;

    h3 {
        font-size: rem(40);
    }

    h6 {
        font-size: rem(30);
    }

    .title {
        text-align: center;
        font-size: rem(32);
        letter-spacing: rem(5);
        font-weight: 700;
    }

    .content {
        padding-bottom: rem(100);

        .second-title {
            display: block;
            font-size: rem(24);
            font-weight: bold;
            text-align: left;
            margin-bottom: rem(10);
            margin-top: rem(35);

            & .spanTitle {
                font-size: rem(16);
                padding-top: rem(5);
                font-weight: bold;
            }
        }

        p {
            font-size: rem(14);
            line-height: rem(25);
            padding-bottom: rem(15);

            &.desc {
                line-height: rem(28);
                font-size: rem(18);
            }

            &.p-title {
                font-weight: 700;
                padding-left: rem(40);
            }

            &.p-text {
                padding-left: rem(40);
                padding-bottom: 0;
            }

            &.p-text2 {
                padding-left: rem(40);
            }

            span {
                font-weight: 700;
            }
        }
    }
}
