.ndf {
    width: 100%;
    background: #F6F8FC;
    padding-bottom: 1px;
}

.df-con-con-code {
    width: 16%;
    margin: 15px auto;
    position: relative;

    p {
        position: absolute;
        top: 3px;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 13px;
    }

    img {
        width: 100%;
    }
}

.df {
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
    position: relative;

    .df-xhlogo {
        width: 200px;
        margin: 30px auto;

        img {
            width: 100%;
        }
    }

    .df-top {
        width: 520px;
        margin: 0 auto;
        text-align: center;
        padding-top: 40px;

        .df-top-img {
            width: 300px;
            margin: 0 auto;

            img {
                width: 100%;
            }
        }

        .de-anment {
            background: #F0F2F9;
            border-radius: 8px;
            border: 1px solid #E3E7F0;
            margin: 20px auto;
            display: inline-flex;
            padding: 7px 10px 5px 10px;
            font-size: 16px;
            color: #7B8093;
            overflow: hidden;

            .de-anment-img {
                width: 18px;
                margin-right: 9px;

                img {
                    width: 100%;
                }
            }
        }

        h3 {
            font-size: 40px;
            color: #15192A;
            line-height: 50px;
            letter-spacing: 2px;
            margin: 21px 0 6px 0;
        }

        h4 {
            font-size: 20px;
            color: #7B8093;
            line-height: 29px;
            letter-spacing: 2px;

            &.start-time {
                margin-top: 8px;
                color: red;
                font-size: 24px;
                line-height: 32px;
            }
        }
    }

    .df-con-con {
        width: 100%;
        margin: 0 auto;
    }

    .df-con {
        width: 100%;
        display: flex;
        margin: 20px auto;
        flex-wrap: wrap;
        justify-content: center;

        .df-con-list {
            width: 356px;
            background: #F0F2F9;
            border-radius: 10px;
            border: 1px solid #E3E7F0;
            margin: 15px 20px;
            position: relative;

            .df-con-list-position {
                position: absolute;
                top: 5px;
                left: 10px;
                font-size: 16px;
                color: #7B8093;
                font-weight: 500;
                line-height: 25px;
            }

            .df-con-list-img {
                width: 80px;
                height: 80px;
                border-radius: 40px;
                margin: 32px auto;
                background: #eee;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .df-con-list-con {
                margin: 20px auto;
                text-align: center;
                font-size: 26px;
            }

            ul {
                display: flex;
                justify-content: space-between;

                li {
                    font-size: 14px;
                    color: #7B8093;
                    text-align: center;
                    width: 30%;

                    p:nth-child(1) {
                        font-size: 18px;
                        color: #15192A;
                        margin: 6px 0;
                    }
                }

                li:nth-child(1) {
                    width: 40%;

                    p:nth-child(1) {
                        color: #4DA58C;
                    }
                }
            }

            .df-con-btn {
                width: 150px;
                margin: 30px auto;
                height: 50px;
                line-height: 50px;
                color: #0a76f5;
                background: #F0F2F9;
                text-align: center;
                cursor: pointer;
                box-shadow: 6px 6px 16px 0 rgba(199, 203, 209, 0.5), -6px -6px 16px 0 rgba(255, 255, 255, 0.6);
            }
        }
    }

    .df-tosx {
        width: 188px;
        height: 56px;
        background: #F6F8FC;
        box-shadow: 6px 6px 16px 0 rgba(199, 203, 209, 0.5), -6px -6px 16px 0 rgba(255, 255, 255, 0.9);
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        margin: 60px auto;
        line-height: 56px;
        color: #242F44;

        .df-tosx-con {
            display: flex;
            margin: 0 auto;
            width: 100px;
            cursor: pointer;
        }

        .df-tosx-img {
            width: 24px;
            height: 24px;
            border-radius: 12px;
            margin-top: 5px;
            margin-right: 8px;

            img {
                width: 100%;
            }
        }
    }

    .df-tosxs {
        width: 140px;
        height: 45px;
        background: #F6F8FC;
        border-radius: 5px;
        margin: 60px auto;
        line-height: 45px;
        color: #242F44;
        position: absolute;
        top: 0;
        right: 20px;
        border: 1px solid #242F44;

        .df-tosx-con {
            display: flex;
            margin: 0 auto;
            width: 100px;
            cursor: pointer;
        }

        .df-tosx-img {
            width: 24px;
            height: 24px;
            border-radius: 12px;
            margin-top: 5px;
            margin-right: 8px;

            img {
                width: 100%;
            }
        }
    }
}
