& {
  --rs-body: #13191d;
  --rs-text-primary: #fff;
  --rs-text-link: #fff;
  --rs-input-focus-border: rgba(255, 255, 255, 0.7);
  --rs-btn-link-hover-text: #e60000;
  --rs-listbox-option-selected-text: #fff;
  --rs-listbox-option-selected-bg: #434446;

  // rsuite 原生开关
  --rs-toggle-bg: rgba(159, 172, 191, 0.2);
  --rs-toggle-hover-bg: rgba(159, 172, 191, 0.5);
  --rs-toggle-thumb: rgba(159, 172, 191, 0.3);
  --rs-toggle-checked-thumb: #e60000;
  --rs-toggle-checked-bg: rgba(208, 47, 37, 0.3);
  --rs-toggle-checked-hover-bg: rgba(208, 47, 37, 0.5);
}
