& {
  --rs-body: #ffffff;
  --rs-text-primary: #18191d;
  --rs-text-link: #28292a;
  --rs-input-focus-border: rgba(255, 255, 255, 0.7);
  --rs-btn-link-hover-text: #e60000;
  --rs-input-focus-border: #111;
  --rs-state-focus-outline: 1px solid #fff;
  --rs-color-focus-ring: rgba(255, 255, 255, 0);
  --rs-listbox-option-selected-text: #28292a;
  --rs-listbox-option-selected-bg: #eaecf0;
  --rs-listbox-option-hover-bg: #eaecf0;
  --rs-listbox-option-hover-text: #28292a;

  // rsuite 原生开关
  --rs-toggle-bg: rgba(159, 172, 191, 0.2);
  --rs-toggle-hover-bg: rgba(159, 172, 191, 0.5);
  --rs-toggle-thumb: rgba(159, 172, 191, 0.3);
  --rs-toggle-checked-thumb: #e60000;
  --rs-toggle-checked-bg: rgba(208, 47, 37, 0.3);
  --rs-toggle-checked-hover-bg: rgba(208, 47, 37, 0.5);
}
