.enproperty {
    width: 1000px;
    margin: 50px auto;
    background: #FFF;
    border-radius: 12px;
    border: 1px solid #E6ECFA;
    padding: 40px;
    min-height: 500px;

    .property-con {
        .property-c-top {
            width: 100%;
            border-bottom: 2px solid #242F44;
            display: flex;
            padding-bottom: 20px;
            justify-content: space-between;

            .tosellbtc {
                margin-top: 10px;
                margin-left: 20px;

                span {
                    padding: 7px 12px;
                    background: #64AFAF;
                    border-radius: 3px;
                    color: #fff;
                    cursor: pointer;
                    font-size: 14px;
                }
            }

            h3 {
                font-size: 20px;
                font-weight: bold;
            }

            .property-c-top-right {
                display: flex;
            }

            .property-c-top-r {
                display: flex;
                margin-right: 10px;
                line-height: 38px;

                h4 {
                    font-size: 16px;
                    color: #A2A2AA;
                    margin-right: 5px;
                }

                p {
                    font-weight: bold;
                }
            }

            .property-c-top-r-r {
                width: 60px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                background: #242F44;
                color: #fff;
                border-radius: 3px;
                cursor: pointer;
            }
        }

        .property-c-title {
            margin: 15px 0;
            min-height: 200px;

            ul {
                display: flex;

                li {
                    width: 230px;
                    text-align: center;
                    color: #999;
                    font-size: 14px;
                }
            }

            ol {
                display: flex;
                margin: 30px 0;

                li {
                    width: 230px;
                    text-align: center;
                    font-size: 14px;

                    span {
                        padding: 5px 8px;
                        color: #64AFAF;
                        border-radius: 3px;
                        cursor: pointer;
                    }

                    :nth-child(1) {
                        border-radius: 4px;
                        border: 1px solid #64AFAF;
                    }

                    :nth-child(2) {
                        border-radius: 4px;
                        border: 1px solid #64AFAF;
                        margin: 0 40px;
                    }

                    :nth-child(3) {
                        border-radius: 4px;
                        border: 1px solid #64AFAF;
                    }

                    .property-c-title-span {
                        padding: 5px 23px;
                        background: #fff;
                    }
                }
            }
        }

        .btnalert {
            position: fixed;
            left: 0;
            top: 0;
            background: rgba(0, 0, 0, 0.6);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            z-index: 999;

            .btn-mention {
                width: 460px;
                background: #fff;
                padding: 15px;
                position: relative;
                border-radius: 10px;

                .order-top-up-erc {
                    color: #242F44;
                    padding: 2px 58px;
                    margin: 20px auto;
                    font-size: 14px;

                    span {
                        border: 1px solid #242F44;
                        padding: 4px 15px;
                        border-radius: 18px;
                        margin: 0 15px;
                        cursor: pointer;
                    }
                }

                .btn-mention-top {
                    h3 {
                        font-size: 20px;
                        font-weight: bold;
                        text-align: center;
                    }
                }

                .btn-mention-address {
                    margin: 30px 50px;

                    h3 {
                        font-size: 16px;
                    }

                    input {
                        width: 340px;
                        background: #eee;
                        height: 40px;
                        border: 0;
                        outline: none;
                        margin: 10px 0;
                        padding: 0 5px;
                        font-size: 14px;
                    }
                }

                .btn-mention-number {
                    margin: 0 50px;

                    h3 {
                        font-size: 16px;
                    }

                    .btn-mention-number-inp {
                        width: 350px;
                        background: #eee;
                        height: 40px;
                        margin: 10px 0;
                        display: flex;
                        justify-content: space-between;

                        input {
                            border: 0;
                            outline: none;
                            height: 40px;
                            background: #eee;
                            padding: 0 5px;
                            font-size: 14px;
                            width: 65%;
                        }

                        span {
                            color: #242F44;
                            cursor: pointer;
                            line-height: 40px;
                        }
                    }

                    .btn-mention-number-num {
                        font-size: 12px;
                        display: flex;
                        justify-content: space-between;

                        span {
                            padding-right: 10px;
                        }
                    }
                }

                .mention-tips {
                    width: 360px;
                    margin: 0 auto;
                    color: #333;
                    font-size: 14px;
                    line-height: 24px;

                    h4 {
                        font-size: 16px;
                        font-weight: bold;
                        text-align: center;
                        margin: 20px 0 10px 0;
                    }
                }

                .btn-mention-men {
                    margin: 15px 50px;

                    p {
                        font-size: 14px;
                        margin: 15px 0;
                    }

                    button {
                        width: 350px;
                        height: 40px;
                        border: 0;
                        background: #242F44;
                        line-height: 40px;
                        text-align: center;
                        color: #fff;
                        cursor: pointer;
                        border-radius: 5px;
                    }
                }

                .toclose {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    color: #242F44;
                    font-size: 14px;
                    cursor: pointer;
                }
            }

            .order-topup {
                position: fixed;
                left: 0;
                top: 0;
                background: rgba(0, 0, 0, 0.6);
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                z-index: 999;

                .order-top-up {
                    width: 500px;
                    background: #fff;
                    text-align: center;
                    border-radius: 10px;
                    position: relative;

                    .order-top-posit {
                        position: absolute;
                        right: 20px;
                        top: 10px;
                        cursor: pointer;
                    }

                    h3 {
                        font-size: 20px;
                        font-weight: bold;
                        margin: 15px auto;
                    }

                    .order-top-up-erc {
                        color: #242F44;
                        padding: 2px 5px;
                        margin: 20px auto;
                        font-size: 14px;

                        span {
                            border: 1px solid #242F44;
                            padding: 4px 15px;
                            border-radius: 18px;
                            margin: 0 15px;
                            cursor: pointer;
                        }
                    }

                    .order-top-up-img {
                        width: 150px;
                        height: 150px;
                        background: #ccc;
                        margin: 10px auto;

                        img {
                            width: 100%;
                        }
                    }

                    .order-top-up-address {
                        font-size: 14px;
                        display: flex;
                        margin: 20px auto;
                        justify-content: space-around;
                        width: 90%;

                        div {
                            color: #fff;
                            background: #242F44;
                            border-radius: 12px;
                            padding: 5px 15px;
                            cursor: pointer;
                        }

                        span {
                            margin: 6px 0 0 0;
                            display: block;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-size: 12px;
                        }

                        p {
                            margin-top: 6px;
                            margin-left: 10px;
                            font-size: 12px;
                        }
                    }

                    .tips {
                        padding: 20px 60px;
                        font-size: 15px;
                        line-height: 20px;
                        text-align: left;
                    }

                    button {
                        width: 360px;
                        height: 40px;
                        border: 0;
                        background: #242F44;
                        color: #fff;
                        cursor: pointer;
                        border-radius: 5px;
                    }
                }
            }

            .orderpasswd {
                width: 350px;
                height: 140px;
                background: #fff;

                h3 {
                    text-align: center;
                    margin: 44px 0;
                }

                .orderpasswd-btn {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 30px;

                    span {
                        cursor: pointer;
                    }
                }
            }

            .orderpasswdkyc {
                width: 350px;
                height: 170px;
                background: #fff;

                h3 {
                    text-align: center;
                    margin: 44px 0;
                    line-height: 25px;
                }

                .orderpasswd-btn {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 30px;

                    span {
                        cursor: pointer;
                    }
                }
            }

            .orderpasswdcode {
                width: 300px;
                height: 250px;
                background: #fff;
                padding: 0 60px;
                position: relative;

                .orderpasswdcode-close {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    cursor: pointer;
                }

                h3 {
                    text-align: center;
                    margin: 25px 0;

                    span {
                        margin: 0 15px;
                        cursor: pointer;
                        padding: 5px 10px;
                        border-radius: 5px;
                        border: 1px solid #242F44;
                        font-size: 14px;
                    }
                }

                .orderpasswdcode-psw {
                    border-bottom: 1px solid #999;
                    margin: 20px 0;
                    font-size: 14px;

                    input {
                        border: 0;
                        outline: none;
                        height: 40px;
                        width: 100%;
                    }
                }

                .orderpasswdcode-code {
                    border-bottom: 1px solid #999;
                    margin: 20px 0;
                    font-size: 14px;

                    input {
                        border: 0;
                        outline: none;
                        height: 40px;
                        width: 222px;
                    }

                    span {
                        cursor: pointer;
                    }
                }

                .orderpasswdcode-btn {
                    width: 100%;
                    height: 35px;
                    color: #fff;
                    background: #242F44;
                    border: 0;
                    margin: 20px 0;
                    text-align: center;
                    line-height: 35px;
                    cursor: pointer;
                }

                button {
                    width: 100%;
                    height: 35px;
                    color: #fff;
                    background: #242F44;
                    border: 0;
                }
            }
        }
    }
}
