.deftitle {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;

    h3 {
        text-align: center;
        padding: 10px 0;
    }

    .deftitle-con {
        margin: 25px 0;

        h4 {
            font-size: 16px;
            font-weight: bold;
        }

        p {
            font-size: 14px;
            line-height: 25px;
            margin-top: 10px;
        }
    }
}
