.page-m {
    width: 100%;

    .output {
        width: 95%;
        margin: 0 auto;
        box-shadow: none;
        padding: 0 0 40px 0;

        .output-top-t {
            display: none;
        }

        .output-top {
            display: block;

            .output-top-left {
                width: 350px;
            }

            .output-top-right {
                width: 100%;
                margin-top: -25px;

                p {
                    font-size: 15px;
                }
            }
        }

        .output-bottom {
            .output-bottom-top {
                display: block;
                padding: 0;

                .output-bottom-top-t {
                    margin: 15px 0 10px 0;
                    font-size: 18px;
                }

                .output-bottom-top-r {
                    width: 100%;

                    input {
                        width: 100px;
                        height: 30px;
                        font-size: 12px;
                    }

                    input:nth-child(2) {
                        margin: 0;
                    }

                    .search-btn {
                        height: 30px;
                        line-height: 30px;
                        width: 70px;
                    }
                }
            }

            .output-bottom-con {
                ul {
                    flex-wrap: wrap;
                    justify-content: left;

                    li {
                        width: 150px;

                        p {
                            margin: 10px 0;
                        }

                        p:nth-child(1) {
                            color: #a4a4a4;
                        }
                    }

                    li:nth-child(1) {
                        width: 80px;
                    }

                    li:nth-child(2) {
                        text-align: center;
                        width: 55%;
                    }

                    li:nth-child(3) {
                        width: 20%;
                        text-align: right;
                    }

                    li:nth-child(4) {
                        width: 85%;
                    }

                    li:nth-child(5) {
                        width: 40px;
                        text-align: right;

                        p {
                            color: #242F44;
                        }
                    }
                }

                ol {
                    flex-wrap: wrap;
                    justify-content: left;

                    li {
                        width: 150px;

                        p {
                            margin: 10px 0;
                        }

                        p:nth-child(1) {
                            color: #a4a4a4;
                        }
                    }

                    li:nth-child(1) {
                        width: 120px;
                    }

                    li:nth-child(2) {
                        text-align: center;
                        width: 35%;
                    }

                    li:nth-child(3) {
                        width: 90px;
                        text-align: center;
                    }

                    li:nth-child(4) {
                        width: 60%;
                    }

                    li:nth-child(5) {
                        width: 70px;
                    }

                    li:nth-child(6) {
                        width: 50px;
                        text-align: right;
                    }
                }
            }
        }
    }
}
