@import '../../../public/css/swiper.min.scss';

.banner-m {
    padding: 0 12px;

    .swiper-container {
        width: 100%;
        margin: 0 auto;
        margin-top: 3px;

        .swiper-pagination-bullet {
            width: 6px;
            height: 6px;
        }
    }

    .swiper-button-prev {
        width: 34px;
        height: 34px;
        border-radius: 17px;
        background: rgba(164, 164, 164, 0.4);

        &:after {
            font-size: 20px;
        }
    }

    .swiper-button-next {
        width: 34px;
        height: 34px;
        border-radius: 17px;
        background: rgba(164, 164, 164, 0.4);

        &:after {
            font-size: 20px;
        }
    }

    .bannerthree {
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        height: 25vw;

        img {
            width: 100%;
            border-radius: 5px;
        }
    }
}
