.page-m {
    width: 100%;

    .helpcenter {
        width: 90%;
        box-shadow: none;
        margin: 20px auto;
        padding: 0 0 40px 0;

        .helpcenter_con {
            margin-top: 20px;
        }

        .data-title {
            width: 100%;
        }
    }
}
