.again-sure {
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 0 40px;

    .again-sure-back {
        margin-top: 40px;

        img {
            width: 16px;
            height: 16px;
        }
    }

    .again-sure-con {
        margin-top: 100px;
    }
}
