@import '../../../public/css/swiper.min.scss';

.message-banner {
    width: 100%;
    margin-bottom: 12px;

    .silde-item {
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        height: 25vw;

        img {
            width: 100%;
            border-radius: 5px;
        }
    }
}
