.account-set {
    display: flex;
    align-items: center;
    justify-content: center;

    .account-set-con {
        width: 398px;
        border-radius: 6px;
        border: 1px solid #E6ECFA;
        padding: 30px;
    }
}
