.financedetail-right {
    margin-left: 60px;

    .detail-right-communication {
        margin-bottom: 33px;

        h3 {
            font-weight: bold;
            color: rgba(35, 47, 66, 0.7);
            line-height: 24px;
            font-size: 14px;
        }

        .communication-list {
            margin-top: 23px;
            display: flex;
            flex-wrap: wrap;

            .communication-list-item {
                display: flex;
                align-items: center;
                color: #232f42;
                font-size: 14px;
                width: 120px;
                font-weight: 500;
                margin-bottom: 10px;

                img {
                    width: 26px;
                    height: 26px;
                    margin-right: 10px;
                }
            }
        }
    }
}
