.search-detail-game-item {
  position: relative;
  width: 100%;
  padding: 32px 0;
  box-sizing: border-box;
  border-bottom: 1px solid var(--nage-footer-border-top);
  cursor: pointer;

  &:hover {
    .search-detail-game-item-wrap {
      .search-detail-game-item-img {
        transform: scale(1.05);
      }
    }
  }

  .search-detail-game-item-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .search-detail-game-item-img {
      width: 150px;
      height: 150px;
      border-radius: 5px;
      overflow: hidden;
      object-fit: cover;
    }

    .search-detail-game-item-context {
      height: 150px;
      flex: 1;
      padding: 8px 16px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      .search-detail-game-item-top {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }

      .search-detail-game-item-title {
        font-size: 18px;
        font-weight: bold;
        color: var(--naga-font-hundred);
        line-height: 20px;
      }

      .search-detail-game-item-category {
        font-size: 12px;
        color: var(--naga-font-seventy);
        line-height: 14px;
        margin-top: 14px;
      }

      .search-detail-game-item-icon-box {
        height: 14px;
        margin-top: 14px;
        display: flex;
        align-items: center;
        gap: 4px;

        svg {
          width: 14px;
          height: 14px;
        }

        img {
          height: 14px !important;
          width: 14px !important;
          margin-right: 6px;
        }

        span {
          margin-right: 6px;
          font-size: 12px;
          font-weight: 900;
          color: var(--naga-font-seventy);
          line-height: 14px;
        }

        .title-curreny {
          .title-curreny-list-small {
            margin-left: 0;
          }
        }
      }

      .search-detail-game-item-btn {
        width: 100%;
        height: 34px;
        background: var(--nage-main-bg);
        border-radius: 4px;
        font-size: 12px;
        font-weight: bold;
        color: var(--naga-font-seventy);
        line-height: 14px;
        display: flex;
        justify-content: center;
        align-items: center;

        .search-detail-game-item-btn-icon {
          width: 12px;
          height: 12px;
          margin-right: 4px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .search-detail-game-item {
    padding: 16px 0;

    .search-detail-game-item-wrap {
      .search-detail-game-item-img {
        width: 46px;
        height: 46px;
        transform: scale(1);
      }

      .search-detail-game-item-context {
        height: auto;
        padding: 0 12px;

        .search-detail-game-item-top {
          .search-detail-game-item-title {
            font-size: 14px;
            height: 20px;
          }

          .search-detail-game-item-category {
            margin-top: 4px;
          }

          .search-detail-game-item-icon-box {
            display: none;
          }
        }

        .search-detail-game-item-btn {
          display: none;
        }
      }
    }
  }
}
