.signup-wrapper {
    background: #fff;
    padding: 0 40px;

    &.secure {
        background: none;
    }

    &.quolletsize {
        width: 80%;
        padding: 20px;
    }

    div {
        line-height: 2;
    }

    h3 {
        font-weight: 500;
        font-size: 18px;
        color: #35384a;
    }

    .phone-email-tab {
        button {
            cursor: pointer;
            margin: 0 30px 10px 0;
            height: 30px;
            text-align: center;
            border: 0;
            background: #fff;
        }
    }

    .input-con {
        font-size: 14px;

        .item {
            margin-top: 20px;
            border: 1px solid #c5c5cc;
            border-radius: 5px;
            height: 46px;
            overflow: hidden;

            &.active {
                border: 1px solid #003287;
            }

            &:last-child {
                border: none;
            }

            .select .select-info {
                border: 0;
                margin: 0;
            }

            input {
                outline: none;
                width: 84%;
                height: 100%;
                margin: 0;
                padding: 0 24px;
                border: none;
            }

            .error {
                color: #eb3d45;
                font-size: 12px;
            }

            .more-func {
                display: flex;
                justify-content: space-between;

                input {
                    outline: none;
                    width: 65%;
                    height: 44px;
                    padding: 0;
                    padding-left: 24px;
                }

                a {
                    width: 35%;
                    line-height: 46px;
                    height: 46px;
                    text-align: center;
                    background: rgba(0, 50, 135, 0.1);
                    color: #003287;
                }
            }

            .agree {
                display: flex;
                font-size: 12px;
                flex-wrap: wrap;

                input {
                    width: 12px;
                    height: 12px;
                    margin-top: 6px;
                    margin-right: 3px;
                }

                a {
                    display: inline-block;
                    color: #f4881c;
                }

                &.secureagress {
                    color: #fff;

                    a {
                        color: #64afaf;
                    }
                }
            }
        }

        .enregist-con-send {
            color: #fff;
            font-size: 12px;
            margin: 5px 0;
            line-height: 12px;
        }
    }

    .submit {
        display: block;
        border: 0;
        outline: none;
        width: 100%;
        height: 44px;
        text-align: center;
        background: rgba(0, 50, 135, 0.2);
        border-radius: 22px;
        color: #fff;
        line-height: 44px;
        margin-top: 22px;
        cursor: pointer;

        &.securebtn {
            background: #64afaf;
            height: 44px;
            line-height: 44px;
            margin-top: 5px;
        }

        &.quolletbtn {
            background: #929292;
            margin-top: 10px;
        }
    }

    .submit-titile {
        line-height: 1.5;
        font-size: 12px;
        color: #eb3d45;
        margin-top: 10px;
    }

    .other-func {
        font-size: 12px;
        margin-top: 24px;
        color: #003287;

        span {
            color: #f60;
            margin-left: 10px;
        }

        &.securelogin {
            a {
                color: #fff;
            }

            span {
                color: #64afaf;
            }
        }
    }
}
