@font-face {
  font-family: Outfit-Bold;
  src: url('/fonts/Outfit-Bold.otf');
}

.countdown {
  display: flex;
  font-size: 22px;
  color: var(--naga-task-list-btn-color);
  font-weight: bold;
  font-family: Outfit-Bold, sans-serif;

  &.time-end-in {
    color: var(--nage-main-fall);
  }

  span {
    padding: 0 5px;
  }
}
