.game-news-detail-page {
  width: 100%;
  position: relative;
  margin-bottom: 140px;

  .game-news-detail-content {
    position: relative;
    max-width: 1080px;
    width: -webkit-fill-available;
    margin: 0 auto;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 1600px) {
  .game-news-detail-page {
    .game-news-detail-content {
      padding: 0 16px;
      max-width: 900px;
    }
  }
}

@media screen and (max-width: 768px) {
  .game-news-detail-page {
    margin-top: 0;
  }
}
