.page-m {
    width: 100%;

    .twodflist {
        .twodflist-con {
            width: 100%;

            .twodflist-top {
                width: 80%;
            }

            .twodflist-sxli {
                width: 100%;

                .twodflist-con-list {
                    width: 100%;
                }
            }
        }
    }
}
