html body {
  font-family: BinancePlex, Arial, PingFangSC-Regular, 'Microsoft YaHei', sans-serif !important;
}

html {
  line-height: 1.15;
  text-size-adjust: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

.css-1wr4jig {
    box-sizing: border-box;
    min-width: 0px;
    display: flex;
    flex-direction: column;
    margin: 0px;
    flex: 1 1 0%;
}

@media screen and (min-width: 1023px) {
  .css-6ul7zn {
      padding: 32px;
  }
}

@media screen and (min-width: 767px) {
  .css-6ul7zn {
      padding: 24px;
  }
}

.css-u1f2do {
    display: none;
}

@media screen and (max-width: 760px){
    .css-u1f2do {
        box-sizing: border-box;
        min-width: 0px;
        background-color: rgb(18, 22, 28);
        display: block;
        margin: 0px;
        padding: 16px;
    }
    
    .css-17ut5t {
        box-sizing: border-box;
        min-width: 0px;
        position: relative;
        display: inline-block;
        width: 100%;
        z-index: 11;
        white-space: nowrap;
        font-size: 14px;
        margin: 0px;
        outline: none;
    
        .css-1sqb4gc {
            box-sizing: border-box;
            min-width: 0px;
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            width: 100%;
            height: 40px;
            background-color: rgb(255, 255, 255);
            color: rgb(33, 40, 51);
            font-weight: 500;
            margin: 0px;
            border-radius: 2px;
            padding: 0px 16px;
    
            .css-1sqb4gc > div {
                text-overflow: ellipsis;
                overflow: hidden;
            }
    
            .css-yw03l1 {
                box-sizing: border-box;
                min-width: 0px;
                color: currentcolor;
                font-size: 16px;
                fill: currentcolor;
                width: 1em;
                height: 1em;
                margin: 0px;
            }
    
            svg:not(:root) {
                overflow: hidden;
            }
        }
    
        .css-ex9vgv {
            box-sizing: border-box;
            min-width: 0px;
            display: none;
            z-index: 1100;
            width: 100%;
            margin: 0px;
            position: absolute;
            left: 0px;
            top: 40px;
            right: auto;
            bottom: auto;
            box-shadow: 0px 0px 30px rgba(0,0,0,0.08);
    
            .css-1202o9n {
                box-sizing: border-box;
                min-width: 0px;
                background-color: rgb(250, 250, 250);
                width: 100%;
                color: rgb(33, 40, 51);
                margin: -1px 0px 0px;
                border-radius: 0px 0px 2px 2px;
    
                .css-cwrr6c {
                    box-sizing: border-box;
                    min-width: 0px;
                    line-height: 40px;
                    height: 40px;
                    background-color: rgb(245, 245, 245);
                    text-overflow: ellipsis;
                    font-size: 14px;
                    font-weight: 500;
                    margin: 0px;
                    padding: 0px 24px;
                    overflow: hidden;
                    border-radius: 2px;
                }
    
                .css-14x3dm0 {
                    box-sizing: border-box;
                    min-width: 0px;
                    line-height: 40px;
                    height: 40px;
                    background-color: rgb(255, 255, 255);
                    text-overflow: ellipsis;
                    font-size: 14px;
                    margin: 0px;
                    padding: 0px 24px;
                    overflow: hidden;
                    border-radius: 2px;
                }
            }
        }
    }
}

@media screen and (min-width: 767px) {
    .css-xry4yv {
        flex-direction: row;
    }
}

.css-xry4yv {
    box-sizing: border-box;
    min-width: 0px;
    display: flex;
    min-height: 600px;
    margin: 0px;
    flex: 1 1 0%;
}

.css-1abw6d7 {
    box-sizing: border-box;
    min-width: 0px;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    margin: 0px;
  }

.css-6ul7zn {
  padding: 16px;
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  width: 100%;

  .css-ag07bg {
      margin: 0;
      min-width: 0;
      box-sizing: border-box;
      flex: 1 1 0%;

      .css-1an4fw8 {
          box-sizing: border-box;
          min-width: 0;
          font-size: 32px;
          line-height: 40px;
          font-weight: 700;
          margin: 0 0 8px;
      }

      .css-15owl46 {
          box-sizing: border-box;
          margin: 0;
          min-width: 0;
          position: relative;
          display: block;

          .css-y9kj8x {
              box-sizing: border-box;
              margin: 0;
              min-width: 0;
              display: flex;
              flex-wrap: wrap;
              align-items: flex-end;

              .sc-bdVaJa {
                  margin: 16px 16px 0 0;
                  width: 100px;
                  font-size: 14px;
                  line-height: 18px;
                  position: relative;

                  .sc-bwzfXH {
                      font-size: 14px;
                      color: #474d57;
                      line-height: 20px;
                  }

                  .css-e7kzj0 {
                      margin: 4px 0 0;
                      min-width: 0;
                      display: inline-flex;
                      position: relative;
                      height: 32px;
                      -webkit-box-align: center;
                      align-items: center;
                      line-height: 1.6;
                      border-bottom: 1px solid rgb(230, 232, 234);
                      border-top-color: rgb(230, 232, 234);
                      border-right-color: rgb(230, 232, 234);
                      border-left-color: rgb(230, 232, 234);
                      width: 100%;

                      .css-1e46yvi {
                          box-sizing: border-box;
                          margin: 0;
                          min-width: 0;
                          height: 100%;
                          padding: 0;
                          outline: none;
                          border: none;
                          background-color: inherit;
                          width: 100%;
                          color: rgb(30, 32, 38);
                          font-size: 14px;
                      }
                  }
              }

              .sc-htpNat {
                  margin-top: 16px;
                  align-self: flex-end;

                  .css-1wwf40s {
                      margin: 0 8px 0 0;
                      appearance: none;
                      user-select: none;
                      cursor: pointer;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                      display: inline-flex;
                      -webkit-box-align: center;
                      align-items: center;
                      -webkit-box-pack: center;
                      justify-content: center;
                      box-sizing: border-box;
                      font-family: inherit;
                      text-align: center;
                      text-decoration: none;
                      outline: none;
                      font-weight: 500;
                      font-size: 14px;
                      line-height: 20px;
                      color: rgb(33, 40, 51);
                      border-radius: 4px;
                      padding: 4px 8px;
                      min-height: 32px;
                      border: none;
                      background-color: transparent;
                      box-shadow: rgb(234, 236, 239) 0 0 0 1px inset;
                      min-width: 88px;
                  }

                  .css-dq59xs {
                      margin: 0;
                      appearance: none;
                      user-select: none;
                      cursor: pointer;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                      display: inline-flex;
                      -webkit-box-align: center;
                      align-items: center;
                      -webkit-box-pack: center;
                      justify-content: center;
                      box-sizing: border-box;
                      font-family: inherit;
                      text-align: center;
                      text-decoration: none;
                      outline: none;
                      font-weight: 500;
                      font-size: 14px;
                      line-height: 20px;
                      color: #242F44;
                      border-radius: 4px;
                      padding: 3px 11px;
                      min-height: 32px;
                      border: 1px solid #242F44;
                      background-color: transparent;
                      box-shadow: none;
                      min-width: 88px;
                  }
              }
          }
      }

      .css-1kmhkw4 {
        box-sizing: border-box;
        min-width: 0px;
        margin: 24px 0px 0px;

        .rc-table {
            font-size: 12px;
            color: rgb(102, 102, 102);
            position: relative;
            line-height: 1.5;
            transition: opacity 0.3s ease 0s;
            overflow: hidden;

            .rc-table-content {
                overflow-y: auto;

                .hide {
                    border-left: 1px solid #eaecef;
                    background: #fff;
                }

                .rc-table table {
                    width: 100%;
                    border-collapse: collapse;
                    text-align: left;

                    colgroup {
                        display: table-column-group;

                        col {
                            display: table-column;
                        }
                    }

                    .rc-table-placeholder {
                        text-align: center;
                        position: relative;
                        padding: 12px 16px;
                        background: rgb(255, 255, 255);
                        border-bottom: 1px solid rgb(233, 233, 233);
                    }

                    .rc-table-placeholder .rc-table-cell {
                        border-bottom: none;

                        .css-rolqze {
                            box-sizing: border-box;
                            min-width: 0px;
                            font-size: 14px;
                            margin: 0px;
                            text-align: center;
                        }
                    }
                }

                .css-aqhq8h {
                    box-sizing: border-box;
                    min-width: 0px;
                    display: flex;
                    -webkit-box-pack: center;
                    justify-content: center;
                    color: rgb(118, 128, 143);
                    margin: 0px;
                    flex: 1 1 0%;
                }

                .css-cvp9q5 {
                    box-sizing: border-box;
                    min-width: 0px;
                    text-align: center;
                    margin: 16px 0px;
                }

                thead {
                    display: table-header-group;
                    vertical-align: middle;
                    border-color: inherit;
                    border-radius: 5px;
                    background: #eee;
                    padding: 5px 0;
                }

                tr {
                    display: table-row;
                    vertical-align: inherit;
                    border-color: inherit;
                }

                th {
                    color: rgb(132, 142, 156);
                    font-size: 12px;
                    font-weight: normal;
                    transition: background 0.3s ease 0s;
                    padding: 10px 0;
                    padding-left: 6px;
                    padding-right: 6px;
                    display: table-cell;
                    vertical-align: inherit;
                    text-align: -internal-center;
                }

                td {
                    white-space: nowrap;
                    padding: 12px 16px; 
                }

                tbody {
                    display: table-row-group;
                    vertical-align: middle;
                    border-color: inherit;
                }
            }
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        .rc-table .rc-table-content {
            position: relative;
        }
    }
  }
}
@media screen and (min-width: 767px) {
    .css-cvp9q5 {
        margin-top: 24px;
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 767px) {
    .css-1no0dzy {
        margin: 24px;
    }
}

@media screen and (min-width: 1023px) {
    .css-1no0dzy {
        width: 80px;
        height: 80px;
        font-size: 80px;
    }
}

@media screen and (min-width: 1023px) {
    .css-rolqze {
        font-size: 16px;
        text-align: center;
    }
}

.css-qu162x {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  position: relative;
  outline: none;

  .css-dkdvv2 {
      box-sizing: border-box;
      margin: 32px 0 0;
      min-width: 0;
      display: inline-flex;
      position: relative;
      height: 32px;
      -webkit-box-align: center;
      align-items: center;
      line-height: 1.6;
      border-bottom: 1px solid rgb(230, 232, 234);
      border-top-color: rgb(230, 232, 234);
      border-right-color: rgb(230, 232, 234);
      border-left-color: rgb(230, 232, 234);
      width: 100%;

      .css-ukrvzh {
          box-sizing: border-box;
          margin: 0;
          min-width: 0;
          width: 100%;
          height: 100%;
          padding: 0;
          outline: none;
          border: none;
          background-color: inherit;
          cursor: pointer;
          color: rgb(30, 32, 38);
          font-size: 14px;
      }

      .css-vurnku {
          height: 100%;
          margin-right: 0;
          flex-shrink: 0;
          margin-left: 4px;
          font-size: 14px;
          box-sizing: border-box;
          min-width: 0;

          .css-1yz0bro {
              box-sizing: border-box;
              margin: 0;
              min-width: 0;
              font-size: 24px;
              cursor: pointer;
              color: rgb(118, 128, 143);
              vertical-align: middle;
              fill: currentcolor;
              transform: rotate(0deg);
              width: 1em;
              height: 1em;
          }
      }

      .css-xivbtv {
          box-sizing: border-box;
          margin: 0;
          min-width: 0;
          position: absolute;
          top: -32px;
          left: 0;
          line-height: 32px;
          transition-property: top, font-size;
          transition-duration: 0.3s;
          transition-timing-function: ease;
          z-index: 1;
          cursor: text;
          color: rgb(71, 77, 87);
          font-size: 14px;
      }
  }
}

.css-cabv63 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    position: relative;
}

.css-swve3r {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: flex;
  padding: 7px 0;
  overflow-x: auto;
  position: relative;
  flex-direction: column;

  .nolist-con {
    .nolist-con-img {
        width: 200px;
        margin: 0 auto;
        margin-top: 20px;

        img {
            width: 100%;
        }
    }

    .nolist-con-t {
        text-align: center;
        font-size: 14px;
        color: #999;
    }
}

  .css-7nkc39 {
      box-sizing: border-box;
      margin: 24px 0 0;
      display: flex;
      min-width: 1176px;
      flex-direction: column;

      .css-j1qn7s {
          box-sizing: border-box;
          margin: 0;
          min-width: 0;
          display: flex;
          background: rgb(250, 250, 250);
          height: 40px;
          padding: 0 16px;
          -webkit-box-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          align-items: center;

          .css-10nf7hq {
              box-sizing: border-box;
              margin: 0;
              min-width: 0;
              display: flex;
              -webkit-box-align: center;
              align-items: center;

              .sc-bxivhb {
                  font-size: 12px;
                  color: rgb(132, 142, 156);
                  margin-left: 0;
              }

              .sc-ifAKCX {
                  margin-right: 24px;
                  font-size: 14px;
                  margin-left: 8px;
                  font-weight: 500;
              }
          }

          .sc-bZQynM {
              line-height: 24px;
              padding: 0 8px;
              background: rgba(240, 185, 11, 0.15);
              color: rgb(240, 185, 11);
              border-radius: 3px;
              font-size: 14px;

              &.active {
                  color: rgb(46, 189, 133);
                  background: rgba(46, 189, 133, 0.15);
              }
          }
      }

      .css-1ank7kj {
          box-sizing: border-box;
          margin: 0;
          min-width: 0;
          display: flex;
          padding: 25px 0;

          .css-1xexbg9 {
              box-sizing: border-box;
              margin: 0;
              min-width: 0;
              display: flex;
              flex: 25 1 0%;
              flex-direction: column;
          }

          .css-9hhy0i {
              box-sizing: border-box;
              margin: 0;
              min-width: 0;
              display: flex;
              padding-left: 32px;
              flex: 25 1 0%;
              flex-direction: column;
          }

          .css-1eldco3 {
              box-sizing: border-box;
              margin: 0;
              min-width: 0;
              display: flex;
              padding-left: 32px;
              flex: 30 1 0%;
              flex-direction: column;
          }

          .sc-dnqmqq {
              width: 1px;
              background: rgb(234, 236, 239);
          }

          .sc-gzVnrw {
              font-size: 14px;
              height: 24px;
              line-height: 24px;
              position: relative;

              .sc-bxivhb {
                  font-size: 12px;
                  color: rgb(132, 142, 156);
                  margin-left: 0;

                  .css-1f9551p {
                      display: inline;
                      position: relative;

                      span {
                        border-bottom: 1px dotted;
                      }

                      p {
                          position: absolute;
                          top: 20px;
                          left: 0;
                          width: 250px;
                          box-shadow: 0 6px 20px rgba(0,0,0,.08);
                          padding: 4px 8px;
                          background: #fff;
                          z-index: 1;
                          line-height: 20px;
                          border-radius: 4px;
                      }
                  }
              }

              .sc-EHOje {
                  font-size: 14px;
                  line-height: 18px;

                  .css-qf1j89 {
                      box-sizing: border-box;
                      margin: 0;
                      min-width: 0;
                      display: inline;
                      color: rgb(242, 48, 81);
                  }
              }

              .sc-htoDjs {
                  position: absolute;
                  right: 0;
                  cursor: pointer;
                  line-height: 18px;
                  font-size: 14px;
                  color: #025AE6;
                  background: rgb(255, 255, 255);
              }
          }
      }
  }
}

.css-1no7ynj {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: none;
    flex-direction: column;

    .nolist-con {
        .nolist-con-img {
            width: 60%;
            margin: 0 auto;

            img {
                width: 100%;
            }
        }

        .nolist-con-t {
            text-align: center;
            font-size: 14px;
            color: #999;
        }
    }

    .css-1l5lpd5 {
        box-sizing: border-box;
        margin: 16px 0px 0px;
        min-width: 0px;
        padding-bottom: 16px;

        .nolist-con {
            .nolist-con-img {
                width: 60%;
                margin: 0 auto;

                img {
                    width: 100%;
                }
            }

            .nolist-con-t {
                text-align: center;
                font-size: 14px;
                color: #999;
            }
        }

        .css-3j2kqe {
            position: relative;
            box-sizing: border-box;
            margin: 0px;
            min-width: 0px;
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;

            .css-prp3gn {
                box-sizing: border-box;
                margin: 0px;
                min-width: 0px;
                display: flex;
                font-size: 14px;

                .css-ts5quc {
                    box-sizing: border-box;
                    margin: 0px 8px 0px 0px;
                    min-width: 0px;
                    font-weight: 700;
                    line-height: 24px;
                }

                .sc-bZQynM {
                    line-height: 24px;
                    padding: 0px 8px;
                    border-radius: 3px;
                    font-size: 14px;
                    color: rgb(46, 189, 133);
                    background: rgba(46, 189, 133, 0.15);
                }
            }

            .css-ybbx55 {
                box-sizing: border-box;
                margin: 0px;
                min-width: 0px;
                position: relative;
                display: inline-block;
                outline: none;

                .css-8rpvaj {
                    box-sizing: border-box;
                    margin: 0px;
                    min-width: 0px;
                    color: rgb(132, 142, 156);
                    font-size: 24px;
                    fill: rgb(132, 142, 156);
                    width: 1em;
                    height: 1em;
                }
            }

            .css-uzfte1{
                position: absolute;
                right: 0;
                top: 27px;
                box-sizing: border-box;
                margin: 0px;
                min-width: 0px;
                display: flex;
                background: rgb(255, 255, 255);
                box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 8px, rgba(0, 0, 0, 0.08) 0px 4px 8px;
                flex-direction: column;
                z-index: 1;

                .css-v1khhe {
                    box-sizing: border-box;
                    margin: 0px;
                    min-width: 0px;
                    display: flex;
                    padding: 0px 16px;
                    font-size: 14px;
                    line-height: 40px;
                }
            } 
        }

        .css-jg500d {
            box-sizing: border-box;
            margin: 0px;
            min-width: 0px;
            display: flex;
            font-size: 14px;
            line-height: 18px;
            flex-direction: column;
            padding-bottom: 15px;
            border-bottom: 1px solid #eee;

            .css-ymjgx1 {
                box-sizing: border-box;
                margin: 8px 0px 0px;
                min-width: 0px;
                display: flex;
                -webkit-box-pack: justify;
                justify-content: space-between;
                flex: 1 1 0%;
                position: relative;

                p {
                    position: absolute;
                    top: 20px;
                    left: 0;
                    width: 250px;
                    box-shadow: 0 6px 20px rgba(0,0,0,.08);
                    padding: 4px 8px;
                    background: #fff;
                    z-index: 1;
                    line-height: 20px;
                    border-radius: 4px;
                    font-size: 12px;
                    color: #999;
                }

                .css-1qp5tsr {
                    box-sizing: border-box;
                    margin: 0px;
                    min-width: 0px;
                    color: rgb(132, 142, 156);
                }

                .css-1r2jm08 {
                    box-sizing: border-box;
                    margin: 0px;
                    min-width: 0px;
                    color: rgb(33, 40, 51);
                }
            }
        }

        .css-2y5yk3 {
            box-sizing: border-box;
            margin: 8px 0px 0px;
            min-width: 0px;
            display: flex;
            -webkit-box-pack: end;
            justify-content: flex-end;

            .css-21cgr0 {
                box-sizing: border-box;
                margin: 0px;
                min-width: 0px;
                color: rgb(132, 142, 156);
                font-size: 12px;
            }

            .css-1ljvfyv {
                box-sizing: border-box;
                margin: 0px;
                min-width: 0px;
                color: rgb(132, 142, 156);
                font-size: 18px;
                fill: rgb(132, 142, 156);
                width: 1em;
                height: 1em;
            }
        }
    }
}

.css-1xyjjnm {
    box-sizing: border-box;
    margin: 8px 0px 0px;
    min-width: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;

    .css-1rz1pt4 {
        box-sizing: border-box;
        margin: 0px 4px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        cursor: pointer;
        font-size: 14px;
        border: none;
        outline: none;
        height: 28px;
        padding: 0px;
        background-color: transparent;
        border-radius: 4px;
        font-weight: 400;
        min-width: 16px;
        color: rgb(230, 232, 234);

        &:disabled {
            cursor: default;
        }

        .css-yw03l1 {
            box-sizing: border-box;
            margin: 0px;
            min-width: 0px;
            color: currentcolor;
            font-size: 16px;
            fill: currentcolor;
            width: 1em;
            height: 1em;
        }
    }

    .css-1jhro2s {
        box-sizing: border-box;
        margin: 0px 4px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        cursor: pointer;
        font-size: 14px;
        border: none;
        outline: none;
        min-width: 28px;
        height: 28px;
        padding: 0px;
        background-color: rgb(230, 232, 234);
        border-radius: 4px;
        color: rgb(30, 32, 38);
        font-weight: 500;
        cursor: default;
    }
}

.css-qavy20,
.filter-close {
    display: none;
}

@media screen and (max-width: 760px){
    .css-1no7ynj {
        display: flex;
    }
}

@media screen and (max-width: 760px){
    .css-cabv63 {
        display: none;
    }

    .filter-close {
        box-sizing: border-box;
        margin: 0px;
        min-width: 0px;
        color: rgb(132, 142, 156);
        font-size: 24px;
        position: absolute;
        top: 28px;
        right: 28px;
        width: 1em;
        height: 1em;
        display: block;

        svg {
            fill: rgb(132, 142, 156);
            height: 100%;
            width: 100%;
        }
    }

    .css-6ul7zn .css-ag07bg {
        .css-1an4fw8 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 24px;

            .css-qavy20 {
                box-sizing: border-box;
                margin: 0px;
                min-width: 0px;
                display: block;
                width: 24px;
                height: 24px;
                right: 16px;
    
                .css-8rpvaj {
                    box-sizing: border-box;
                    margin: 0px;
                    min-width: 0px;
                    color: rgb(132, 142, 156);
                    font-size: 24px;
                    fill: rgb(132, 142, 156);
                    width: 1em;
                    height: 1em;
                }
            }
        }
    }

    .css-6ul7zn .css-ag07bg .css-15owl46 {
        padding: 56px 24px 24px;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1200;
        background: #fff;
        display: none;
        
        .css-y9kj8x {
            .sc-bdVaJa {
                margin: 24px 0 0 0;
                width: 100% !important;
            }
        }

        .sc-htpNat {
            margin-top: 40px !important;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}

@media screen and (min-width: 767px) {
    .css-3miali {
        display: block;
    }
}

@media screen and (max-width: 760px){
    .css-3miali {
        display: none;
    }

    .css-1wr4jig {
        width: 100%;
    }
}

@media screen and (max-width: 760px){
    .css-1kmhkw4 {
        display: none;
    }
}

.css-3miali {
    box-sizing: border-box;
    min-width: 0px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px, rgba(0, 0, 0, 0.08) 0px 0px 4px;
    position: relative;
    z-index: 1;
    flex-direction: column;
    width: 200px;
    margin: 0px;
    height: 100%;

    .css-uliqdc {
        box-sizing: border-box;
        min-width: 0px;
        display: flex;
        flex-direction: column;
        margin: 0px;

        a, a:active, a:visited {
            text-decoration: none;
        }

        a {
            background-color: transparent;
            cursor: pointer;
        }

        .css-1kql3w3 {
            box-sizing: border-box;
            min-width: 0px;
            color: rgb(208, 152, 11);
            border-left-width: 4px;
            border-left-style: solid;
            border-left-color: transparent;
            height: 48px;
            padding-left: 40px;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            justify-content: space-between;
            margin: 0px;
            text-decoration: none;
            cursor: pointer;
        }

        .css-zdk98e {
            box-sizing: border-box;
            min-width: 0px;
            color:#242F44;
            border-left-width: 4px;
            border-left-style: solid;
            border-left-color: #242F44;
            height: 48px;
            background-color: rgb(245, 245, 245);
            font-weight: 500;
            padding-left: 40px;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            justify-content: space-between;
            margin: 0px;
            text-decoration: none;
            cursor: pointer;
        }

        .css-10j588g {
            box-sizing: border-box;
            min-width: 0px;
            display: flex;
            height: 100%;
            -webkit-box-align: center;
            align-items: center;
            margin: 0px;
            flex: 1 1 0%;

            .css-1ex54t0 {
                box-sizing: border-box;
                min-width: 0px;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                word-break: break-word;
                color: rgb(33, 40, 51);
                margin: 0px;
            }

            .css-wqodgf {
                box-sizing: border-box;
                min-width: 0px;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                word-break: break-word;
                color: rgb(33, 40, 51);
                margin: 0px;
            }
        }

        .css-1jm49l2 {
            box-sizing: border-box;
            min-width: 0px;
            cursor: pointer;
            margin: 0px;

            .css-lp670x {
                box-sizing: border-box;
                min-width: 0px;
                color: rgb(208, 152, 11);
                border-left-width: 4px;
                border-left-style: solid;
                border-left-color: transparent;
                height: 48px;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                justify-content: space-between;
                margin: 0px;
                text-decoration: none;

                .css-10j588g {
                    box-sizing: border-box;
                    min-width: 0px;
                    display: flex;
                    height: 100%;
                    -webkit-box-align: center;
                    align-items: center;
                    margin: 0px;
                    flex: 1 1 0%;

                    .css-akdi7f {
                        box-sizing: border-box;
                        min-width: 0px;
                        color: rgb(132, 142, 156);
                        font-size: 24px;
                        fill: rgb(132, 142, 156);
                        width: 1em;
                        height: 1em;
                        flex-shrink: 0;
                        margin: 0px 8px;
                    }

                    .css-1n0484q {
                        box-sizing: border-box;
                        min-width: 0px;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        word-break: break-word;
                        display: flex;
                        height: 100%;
                        -webkit-box-align: center;
                        align-items: center;
                        color: rgb(33, 40, 51);
                        margin: 0px;
                        flex: 1 1 0%;
                    }
                }

                .css-r2cavk {
                    box-sizing: border-box;
                    min-width: 0px;
                    font-size: 16px;
                    fill: currentcolor;
                    color: rgb(132, 142, 156);
                    transform: rotate(0deg);
                    width: 1em;
                    height: 1em;
                    margin: 0px 4px;
                    transition: all 0.1s ease 0s;
                }

                svg:not(:root) {
                    overflow: hidden;
                }
            }
        }
    }
}
.css-15owl46 .date-range-picker-wrapper .DateRangePickerInput .DateInput input {
    font-size: 14px;
}
.css-15owl46 .date-range-picker-wrapper .DateRangePickerInput .DateRangePickerInput_arrow_svg {
    display: none;
}
.css-15owl46 .DateRangePickerInput_arrow {
    width: 16px;
    border-top: 2px solid #ddd;
    margin-right: 10px;
}