.search-center {
    width: 440px;
    height: 48px;
    background: #23262c;
    border-radius: 8px 8px 8px 8px;
    display: flex;
    align-items: center;
    padding-left: 20px;

    &.little-search {
        width: 92%;
        height: 38px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 20px;
        background: none;

        img {
            width: 14px;
            height: 14px;
        }

        input {
            font-size: 14px;
            height: 100%;
            width: 92%;
        }
    }

    img {
        width: 20px;
        height: 20px;
    }

    input {
        border: none;
        background: none;
        margin-left: 10px;
        color: #fff;
        height: 100%;
        width: 92%;
    }
}
