.aboutus {
    width: 1000px;
    background: #fff;
    margin: 50px auto;
    padding: 38px 40px;
    box-shadow: -4px 0 30px rgba(0, 0, 2, 0.1);
    min-height: 200px;

    h2 {
        font-size: 20px;
        font-weight: bold;
        padding: 5px 0;
        color: #242F44;
        border-bottom: 3px solid #242F44;
    }

    .aboutus-con {
        margin: 30px 0;
        font-size: 16px;
        min-height: 300px;

        p {
            line-height: 24px;
            margin-bottom: 15px;
        }
    }

    .aboutus-bottom {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;

        .product-intro-logone {
            width: 190px;
            height: 69px;

            img {
                width: 100%;
            }
        }

        .product-intro-logtwo {
            width: 190px;
            height: 69px;

            img {
                width: 100%;
            }
        }

        .product-intro-logthree {
            width: 190px;
            height: 69px;

            img {
                width: 100%;
            }
        }

        .product-intro-logfour {
            width: 190px;
            height: 69px;

            img {
                width: 100%;
            }
        }
    }
}
