.form-wrap {
    @for $i from 1 through 100 {
        .field {
            position: relative;
            z-index: 999;

            &:nth-child(#{$i}) {
                z-index: calc(100 - #{$i});
            }
        }
    }

    .input-wrap {
        position: relative;
        height: 48px;
        border: 1px solid #eaecef;
        box-sizing: border-box;
        border-radius: 3px;
        padding: 0 16px !important;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.readonlys {
            filter: grayscale(100%);
            filter: gray;
        }

        .input-box {
            display: flex;
            align-items: center;
            height: 100%;
            flex: 1 1 auto;
            width: 420px;

            input {
                height: calc(100% - 26px);
                border: none;
                background: none;
                margin: 11px 0;
                box-sizing: border-box;
                font-size: 16px;
                font-weight: bold;
                line-height: 18px;
                display: flex;
                width: 100%;
                align-items: flex-start;

                &::-webkit-input-placeholder {
                    color: #999;
                    font-size: 12px;
                    font-weight: normal;
                }

                &:-moz-placeholder {
                    color: #999;
                    font-size: 12px;
                    font-weight: normal;
                }

                &::-moz-placeholder {
                    color: #999;
                    font-size: 12px;
                    font-weight: normal;
                }

                &:-ms-input-placeholder {
                    color: #999;
                    font-size: 12px;
                    font-weight: normal;
                }
            }
        }

        .coin-cur-select {
            cursor: pointer;
            border-left: 1px solid #eaecef;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 11px 0;
            padding-left: 8px;
            height: calc(100% - 22px) !important;

            .cur-select-icon {
                height: 18px;
                width: 18px;

                img {
                    display: block !important;
                    height: 100% !important;
                    width: 100% !important;
                }
            }

            span {
                margin: 0 8px;
                color: #1E2026;
                font-size: 16px;
                font-weight: bold;
            }

            svg {
                height: 8px !important;
                width: 8px !important;
                fill: #848E9C;
            }
        }

        .select-wrapper {
            position: absolute;
            left: -1px;
            top: 46px;
            width: 100%;
            background: #fff;
            border: 1px solid #eaecef;
            box-sizing: content-box;
            overflow-x: hidden;
            overflow-y: auto;
            max-height: 208px;
            z-index: 999;

            li {
                padding: 12px 12px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                transition: all 0.3s ease 0s;

                &:hover,
                &.active {
                    background: rgb(245, 245, 247);
                }

                .option-name {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    .icon-box {
                        margin-right: 8px;
                        height: 18px;
                        width: 18px;

                        img {
                            display: block;
                            height: 100%;
                            width: 100%;
                        }
                    }

                    span {
                        font-size: 16px;
                        color: rgb(33, 40, 51);
                    }
                }
            }
        }
    }
}
