.im-live-detail-page {
    background: #f7f8fa;

    .im-live-detail-page-main-box {
        width: 1200px;
        padding: 20px 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .im-live-detail-page-main-box-left {
            position: relative;
            width: 884px;
        }

        .im-live-detail-page-main-box-right {
            position: relative;
            width: 300px;
        }
    }
}
