.news-details-prev-next-page {
    display: flex;
    flex-flow: column;
    margin-bottom: 15px;

    &.prev {
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(238, 238, 238, 1);
    }

    &:hover p {
        color: #1482f0;
    }

    h5 {
        margin-bottom: 10px;
        color: rgba(34, 34, 34, 1);
        font-size: 16px;
    }

    p {
        float: right;
        margin: -3px 0 10px;
        color: #212121;
        font-size: 16px;
        line-height: 22px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}
