.search-detail-news-dom {
  position: relative;
  width: 100%;

  .search-detail-news-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .news-main-item .news-main-wrap .news-main-img-box {
      width: 344px;
      height: 208px;
    }
  }
}

@media screen and (max-width: 768px) {
  .search-detail-news-dom {
    .search-detail-news-list {
      .news-main-item {
        margin-top: 16px;
        padding-bottom: 16px;

        .news-main-wrap {
          .news-main-img-box {
            width: 124px;
            height: 72px;
          }
        }
      }
    }
  }
}
