@import '../../../../_multiappsharing/public/css/rem.scss';

.news-item {
    padding: rem(23) rem(25);
    display: flex;
    justify-content: space-between;
    border-bottom: rem(1) solid #f6f6f6;
    background-color: #fff;

    &:nth-last-of-type(1) {
        border-bottom: none;
    }
}

.news-item-content {
    margin-right: rem(20);
    width: rem(406);

    .content-title {
        font-size: rem(27);
        letter-spacing: 1px;
        line-height: 1.2;
        height: rem(2 * 27 *1.2);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        a {
            display: block;
            color: #222;
        }
    }

    .content-sup {
        margin-top: rem(20);
        font-size: rem(23);
        color: #bdbdbd;
        display: flex;
        justify-content: space-between;
    }
}

.news-item-img {
    flex-grow: 0;
    width: rem(145);
    height: rem(111);
    background-color: #eee;
    overflow: hidden;

    img {
        width: 100%;
    }
}
