.dflist {
    width: 100%;
    background: #F6F8FC;
    padding: 10px 0;

    .df-xhlogo {
        width: 200px;
        margin: 30px auto;

        img {
            width: 100%;
        }
    }

    .dflist-con {
        width: 1200px;
        margin: 0 auto;
        padding: 20px 0;

        .dflist-top {
            width: 450px;
            margin: 20px auto;
            text-align: center;

            .dflist-top-img {
                width: 100px;
                height: 100px;
                border-radius: 50px;
                margin: 0 auto;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }

            h3 {
                font-size: 38px;
                color: #15192A;
                line-height: 50px;
                letter-spacing: 2px;
                margin: 21px 0 6px 0;
            }

            h4 {
                font-size: 22px;
                color: #7B8093;
                line-height: 29px;
                letter-spacing: 2px;
                margin: 15px 0;
            }
        }

        .dflist-sxli {
            width: 750px;
            display: flex;
            margin: 0 auto;
            flex-wrap: wrap;
            justify-content: space-between;

            .dflist-con-list {
                width: 330px;
                background: #F0F2F9;
                border-radius: 10px;
                border: 1px solid #E3E7F0;
                margin: 15px 20px;

                .dflist-con-list-img {
                    width: 80px;
                    height: 80px;
                    border-radius: 40px;
                    margin: 32px auto;
                    box-shadow: -4px -4px 10px 0 rgba(252, 253, 254, 0.7), 4px 4px 10px 0 rgba(199, 203, 209, 0.5);

                    img {
                        width: 100%;
                    }
                }

                .dflist-con-list-select {
                    text-align: center;
                    font-size: 24px;
                }

                .dflist-con-list-con {
                    text-align: center;
                    font-size: 26px;

                    .dflist-con-list-con-b {
                        display: flex;
                        justify-content: space-around;
                        padding-bottom: 20px;

                        .dflist-con-list-con-b-l {
                            width: 44%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            :nth-child(2) {
                                color: #7B8093;
                                font-size: 16px;
                            }
                        }
                    }

                    p {
                        text-align: center;
                        font-size: 15px;
                        margin: 2px 0;
                    }

                    span {
                        color: #4DA58C;
                        font-size: 18px;
                    }
                }

                .dflist-con-btn {
                    width: 150px;
                    margin: 30px auto;
                    height: 50px;
                    line-height: 50px;
                    color: #79AEFF;
                    background: #F0F2F9;
                    text-align: center;
                }
            }
        }
    }
}
