.naga-header {
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 38px;
    padding-right: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    .header-logo {
        width: 94px;

        img {
            width: 100%;
        }
    }

    .right-btn {
        width: 180px;
        height: 40px;
        background: #8552f3;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #fff;
        font-weight: 500;
        cursor: pointer;

        img {
            width: 20px;
            height: 20px;
            margin-right: 8px;
        }
    }
}
