.wait-loading {
  width: 240px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--naga-gamedetail-swiper-thumb);
  border-radius: 10px;
  z-index: 10;
  position: relative;

  .wait-loading-desc {
    font-size: 14px;
    line-height: 14px;
    margin-top: 25px;
    text-align: center;
  }

  .close-loading {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .wait-loading {
    width: 80%;
    height: 180px;
  }
}
