@import '../../../_multiappsharing/public/css/rem.scss';

.m-feature-list-wrapper {
    float: left;
    width: 100%;
    height: auto;
    background: #fff;
    margin-top: rem(15);

    .no-feature {
        display: none;
        min-height: rem(400);
        color: #999;
        font-size: rem(24);
        line-height: rem(400);
        text-align: center;
    }

    .m-feature-topic-list-item {
        position: relative;
        padding: rem(25) 0;
        border-bottom: 1px solid #eee;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        height: rem(110);
        width: rem(590);
        margin: 0 auto;

        &:hover {
            background: #fff;
            border-color: #fff;

            &:after {
                content: '';
                padding: 0 20px;
                position: absolute;
                left: -20px;
                top: 0;
                z-index: 0;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                border-radius: 5px;
                height: 100%;
                width: 100%;
                transition: all 0.3s ease 0s;
            }
        }

        .item-left {
            margin-left: rem(20);
            position: relative;
            z-index: 5;
            height: 100%;
            flex-grow: 0;
            flex-shrink: 0;
            width: rem(147);
            overflow: hidden;

            span {
                padding: 0 8px;
                position: absolute;
                top: 15px;
                left: -2px;
                z-index: 6;
                background: rgba(0, 0, 0, 0.5);
                border-radius: 3px;
                display: block;
                color: #fff;
                font-size: 12px;
                line-height: 24px;
            }

            .videoImg {
                position: absolute;
                top: 59px;
                left: 89px;
            }
        }

        .item-right {
            position: relative;
            z-index: 5;
            height: 100%;
            display: flex;
            width: 560px;
            flex-direction: column;
            justify-content: space-between;

            a:hover {
                color: #0163c5 !important;
            }

            .title-synopsis {
                width: 100%;
                height: 100%;

                h5 {
                    margin-bottom: 10px;
                    position: relative;
                    max-height: 48px;
                    color: #262626;
                    font-size: 18px;
                    line-height: 24px;
                    display: -webkit-box;
                    overflow: hidden;

                    /*! autoprefixer: ignore next */
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;

                    span {
                        margin-right: 4px;
                        position: relative;
                        top: -2px;
                        padding: 0 5px;
                        background-color: #ff7043;
                        border-radius: 3px;
                        height: 18px;
                        color: #fff;
                        font-size: 12px;
                        line-height: 18px;
                    }

                    &:hover {
                        color: #0163c5;
                    }
                }

                p {
                    margin-top: 10px;
                    display: -webkit-box;
                    max-height: 60px;
                    overflow: hidden;
                    color: #828a92;
                    font-size: 14px;
                    line-height: 20px;

                    /*! autoprefixer: ignore next */
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;

                    &:hover {
                        color: #555c62;
                    }
                }
            }

            .relate-info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #828a92;
                font-size: 12px;

                a {
                    color: #828a92;
                }

                .author-time {
                    a {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}
