.job-page {
    position: relative;
    width: 100%;
    height: auto;

    .job-banner {
        width: 100%;
        height: 300px;
        background: url("./Image/job-banner.jpg") center no-repeat;
    }

    .job-layout {
        width: 100%;
        height: auto;
        background: url("./Image/cont-bg.jpg") top no-repeat;

        .job-cont {
            width: 1200px;
            height: auto;
            margin: 0 auto;

            h3 {
                position: relative;
                height: 60px;
                padding-top: 70px;
                margin: 0 auto 10px;
                font-size: 32px;
                color: #212121;
                text-align: center;

                span {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    text-align: center;
                    font-size: 14px;
                    color: #737373;
                }
            }

            p {
                margin-top: 40px;
                font-size: 16px;
                color: #737373;
                line-height: 32px;

                a {
                    color: #4b9ff4;
                }
            }

            .job-list-cont {
                width: 100%;
                height: auto;
                margin-top: 30px;

                .fixed-top {
                    &.fixed {
                        width: 100%;
                        display: block;
                        height: 50px;
                    }
                }

                .job-nav {
                    height: 50px;
                    margin: 0 auto 20px;
                    background: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &.fixed {
                        position: fixed;
                        top: 0;
                    }

                    p {
                        float: left;
                        padding: 0 35px;
                        height: 48px;
                        background: #fff;
                        text-align: center;
                        line-height: 48px;
                        border: 1px #d9d9d9 solid;
                        margin: 0 15px;
                        border-radius: 50px;
                        cursor: pointer;

                        &.active,
                        &:hover {
                            background: #4b9ff4;
                            color: #fff;
                        }
                    }
                }

                h4 {
                    width: 100%;
                    font-size: 32px;
                    color: #4b9ff4;
                    margin: 10px 0 30px;
                }

                .research-job {
                    width: 100%;
                    height: auto;

                    .job-list {
                        width: 520px;
                        min-height: 300px;
                        float: left;
                        padding: 30px;
                        box-shadow: #eee 0 0 10px;
                        margin-right: 35px;
                        margin-bottom: 30px;

                        &:nth-child(2n) {
                            margin-right: 0;
                        }

                        h5 {
                            margin-bottom: 16px;
                            font-size: 26px;
                            color: #333;
                        }

                        h6 {
                            margin: 20px 0;
                            font-size: 16px;
                            color: #333;
                            font-weight: bold;
                        }

                        p {
                            font-size: 16px;
                            color: #666;
                            margin-top: 0;
                        }
                    }
                }

                .job-bottom {
                    width: 100%;
                    margin-bottom: 50px;

                    p {
                        margin-top: 10px;
                        font-size: 16px;
                        color: #333;
                        line-height: 36px;

                        span {
                            color: #666;
                            font-size: 16px;
                        }
                    }
                }

                .lint-info {
                    margin: 30px 0 40px;
                    font-size: 16px;
                    color: #666;
                    margin-top: 0;
                    line-height: 32px;

                    h6 {
                        margin-bottom: 5px;
                        font-size: 18px;
                        color: #333;
                        font-weight: bold;
                    }
                }

                .inlet {
                    width: 100%;
                    margin-bottom: 50px;

                    h6 {
                        font-size: 24px;
                        color: #333;
                    }

                    p {
                        font-size: 16px;
                        line-height: 26px;
                        margin-top: 20px !important;

                        img {
                            width: 150px;
                        }
                    }
                }
            }
        }
    }
}
