.game-detail-team-backer-item {
  position: relative;
  width: 246px;
  height: 100px;
  background: var(--naga-hover-bg);
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 0 30px;

  .game-detail-team-backer-item-icon-box {
    width: 52px;
    height: 52px;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 16px;

    .game-detail-team-backer-item-icon {
      width: 100%;
      height: 100%;
    }
  }

  .game-detail-team-backer-item-title {
    font-size: 20px;
    color: var(--naga-font-hundred);
    line-height: 22px;
    width: calc(100% - 60px);
    word-wrap: break-word;
  }
}

@media screen and (max-width: 1600px) {
  .game-detail-team-backer-item {
    .game-detail-team-backer-item-title {
      font-size: 16px;
      line-height: 18px;
      width: calc(100% - 68px);
    }
  }
}

@media screen and (max-width: 1024px) {
  .game-detail-team-backer-item {
    width: 230px;
  }
}

@media screen and (max-width: 768px) {
  .game-detail-team-backer-item {
    width: 100%;
    height: 72px;
    padding: 0 20px;

    .game-detail-team-backer-item-icon-box {
      width: 32px;
      height: 32px;
      margin-right: 10px;
      border-radius: 5px;
    }

    .game-detail-team-backer-item-title {
      font-size: 16px;
      line-height: 18px;
      width: calc(100% - 42px);
    }
  }
}

@media screen and (max-width: 480px) {
  .game-detail-team-backer-item {
    height: 46px;
    padding: 0 10px;
    border-radius: 7px;

    .game-detail-team-backer-item-icon-box {
      width: 26px;
      height: 26px;
      margin-right: 6px;
      border-radius: 4px;
    }

    .game-detail-team-backer-item-title {
      font-size: 14px;
      line-height: 16px;
      width: calc(100% - 32px);
    }
  }
}
