.login-top-operate {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 48px;

    .operate-close {
        width: 24px;
        height: 24px;

        img {
            width: 100%;
        }
    }

    .operate-right {
        color: #333;
    }
}
