.twodflist {
    width: 100%;
    background: #F6F8FC;

    .twodflist-con {
        width: 1200px;
        margin: 0 auto;
        padding: 20px 0;

        .twodflist-top {
            width: 450px;
            margin: 20px auto;
            text-align: center;

            .twodflist-top-img {
                width: 120px;
                height: 120px;
                border-radius: 60px;
                background: #ccc;
                margin: 0 auto;

                img {
                    width: 100%;
                }
            }

            h3 {
                font-size: 38px;
                color: #15192A;
                line-height: 50px;
                letter-spacing: 2px;
                margin: 21px 0 6px 0;
            }

            h4 {
                font-size: 22px;
                color: #7B8093;
                line-height: 29px;
                letter-spacing: 2px;
            }
        }

        .twodflist-sxli {
            width: 800px;
            display: flex;
            margin: 47px auto;
            flex-wrap: wrap;

            .twodflist-con-list {
                width: 356px;
                background: #F0F2F9;
                border-radius: 10px;
                border: 1px solid #E3E7F0;
                margin: 15px 20px;

                .twodflist-con-list-img {
                    width: 80px;
                    height: 80px;
                    border-radius: 40px;
                    margin: 32px auto;
                    background: #eee;

                    img {
                        width: 100%;
                    }
                }

                .twodflist-con-list-con {
                    margin: 20px auto;
                    text-align: center;
                    font-size: 30px;
                    height: 20px;

                    :nth-child(2) {
                        font-size: 22px;
                        color: #7B8093;
                        margin-left: 10px;
                    }
                }

                .twodflist-con-btn {
                    width: 150px;
                    margin: 30px auto;
                    height: 50px;
                    line-height: 50px;
                    color: #79AEFF;
                    background: #F0F2F9;
                    text-align: center;
                    box-shadow: 6px 6px 16px 0 rgba(199, 203, 209, 0.5), -6px -6px 16px 0 rgba(255, 255, 255, 0.6);
                }
            }
        }
    }
}
